/*--------------- Jumbo headers ---------------*/

div.panel-heading {
  background-color: #383838 !important;
  border-color: #455a6b !important;
}

/*--------------- Pills ---------------*/

span.pill.pill-info {
  background-color: #749eb7 !important;
}

/*--------------- "Callers Waiting" Text ---------------*/

div.jumbo-stat-description {
  color: white;
}
