/* Applies to: Nitro */

/* color pallete hex codes:
   Header bg: 204F6B
   body bg: 00111F
 */

 /*--------------- Image Opacity Filter ---------------*/
img {
  opacity: .8
}
/*--------------- Page backgrounds handled in main.js ---------------*/

body {
  background: rgb(41, 41, 41) !important;
}

/* Page backgrounds handled in main.js
  bg color: 292929 41,41,41
 */

/*--------------- Nitro Header bar ---------------*/

div#header.main-header {
  background-image: none !important;
  background-color: #00447C !important;
}

span.fa-search, span.fa-phone, .fa-microphone, .fa-bars {
  color: white !important;
}

/*--------------- Breadcrumbs--------------- */

div#main-crumbs.navbar {
  background-image: none !important;
  background-color: #002340 !important;
  color: white !important;
}

div#main-crumbs.li {
  color: #749EB7 !important;
}

div#main-crumbs.navbar, ol, li, a:visited {
  color: pink;
}

/*---------------Hovering over breadcrumbs--------------- */

a:hover, a:hover *, a:visited:hover, a:visited:hover *, span[onclick]:hover, div[onclick]:hover, [role="link"]:hover, [role="link"]:hover *, [role="button"]:hover *, [role="menuitem"]:hover, [role="menuitem"]:hover *, .link:hover, .link:hover * {
  color: #B7B7B7 !important;
  background-color: #00447C !important;
}

/* --------------- SIDE MENU --------------- */

ul.full-menu * {
  background-image: none !important;
  background-color: #141A1E !important;
}

/* --------------- Dropdown Menus ---------------*/

div.dropdown-menu {
  background-image: none !important;
  background-color: #141A1E !important;
}

/* Spot Nitro Drop */

.spotnitro .tt-dropdown-menu {
  background-color: #6f6f6f;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 8px 8px;
  width: 422px;
}

.spotnitro .tt-dropdown-menu div * :hover {
  background-color: #383838 !important;

}

li.bg-danger {
  background-color: #5D2925
}

li.bg-success {
  background-color: #265234
}

/* --------------- HIGHLIGHTER ---------------*/
span.highlighter {
  background-color: black !important;

}
/* --------------- Search Dropdown --------------- */

.tt-input {
  color: #b7b7b7 !important;
}

.tt-input, input {
  background-color: #455A6B !important;
}

/*--------------- Spot Nitro ---------------*/

span.tt-dropdown-menu {
  background-image: none !important;
  background-color: #141A1E !important;
}

/*--------------- TEXT AREAS ---------------*/

textarea {
  background-color: #6B6B6B !important;
}

input {
  background-color: #6B6B6B !important;
}

/*--------------- Pill for Filter Display ---------------*/

li.pill.pill-default {
  background-image: none !important;
  background-color: #749EB7 !important;
  color: #292929 !important;
}

/* Box around count and filter display */

.filter-display-description {
  background-color: #292929 !important;
}

/* ---------------SEARCH/FILTERS---------------*/

/* Pill for Filter Display */

li.pill.pill-default {
  background-image: none !important;
  background-color: #749EB7 !important;
  color: #292929 !important;
}

.font-weight-normal {
  color: #292929 !important;
}

.nitro-search-form .predicate-input .input-group-addon {

    width: auto;
    padding: 0;
    background-color: #6B6B6B;

}

/*--------------- Filter & Sorting Buttons ---------------*/

.filter-display>div:nth-child(4)>a:nth-child(1) {
  background-color: #455A6B !important;
  color: #749EB7 !important;
}

/*--------------- Change Filter Button ---------------*/

a.btn.btn-default {
  background-image: none !important;
  background-color: #455A6B !important;
  color: #749EB7 !important;
}

/*--------------- Sort Button ---------------*/

button.btn.btn-default {
  background-image: none !important;
  background-color: #455A6B !important;
  color: #749EB7 !important;
}

/*--------------- Filter Window ---------------*/

div.filter-form {
  background-image: none !important;
  background-color: #455A6B !important;
  color: #749EB7 !important;
  border-color:
}

/*--------------- DROPDOWNS ---------------*/

.form-control.collection_select.optional, select.form-control, ul.select2-choices, select#q_reported_by_territory_id_eq {
  background-image: none !important;
  background-color: #6B6B6B;
  color: white
}

/*---------------Sort Dropdown---------------*/

ul.dropdown-menu {
  background-image: none !important;
  background-color: #455A6B !important;
  color: #749EB7 !important;
}

/*--------------- Box around count and filter display ---------------*/

.filter-display-description {
  background-color: green
}

/*--------------- Submit Buttons ---------------*/

input[type="button"]:hover, input[type="submit"]:not(.color):hover, input[type="reset"]:hover, button:hover, select:hover {
  color: #ACE !important;
  background-color: #B7B7B7 !important;
}

/* Support Tags */
.badge-info, .pill-info{
  background-color: #749EB7 !important;
  color: #292929 !important;
  font-weight: bold;
}
/* Table Headers */

.table th {
  color: white !important;
}

/* Table Borders */

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #455A6B;
}

.table > thead > tr > th {
  border-bottom: 2px solid #00447C;
}

/* Page Title */

.row h2 {
  color: white;
}

/*--------------- Page Numbers ---------------*/

.pagination * {
  background-image: none !important;
  background-color: #383838 !important;
}

.pagination>li>a {
  color: white !important;
  border-color: #455A6B !important;
}

.pagination>li>a:hover {
  background-color: #00447C !important;
}

/* div#tickets_table {
  background-image: none !important;
  background-color: red !important;
} */

/*--------------- Body of Lists like Tickets ---------------*/

thead *, .table th {
  background-image: none !important;
  background-color: #455A6B !important;
  color: white;
}

tr {
  background-image: none !important;
  background-color: #303030 !important;
}

tr:nth-child(even) {
  background-image: none !important;
  background-color: #383838 !important;
  text: #3B3B3B;
}

/*--------------- Status Text Color ---------------*/

span.status.new {
  color: green;
}

span.status.wip {
  color: blue;
}

span.status.closed-resolved {
  color: #f9423a;
}

/* Panel Containers */

/* div.panel-heading {
  background-image: none !important;
  background-color: green !important;
}

div.panel-container {
  background-image: none !important;
  background-color: red !important;
} */

#ticket-560158 {
  /* Fuck this one ticket */
  color: red
}

/*------------------------------ GLOBAL CODE ------------------------------*/

/* html, html * {
  color: #eeeeee !important;
  background-color: #222222 !important;
} */

/* html, html * {
  color: rgb(183, 183, 183) !important;
} */

/* * {
  border-color: #a4afaf !important;
} */

a, a[class] {
  color: #6091c1 !important;
}

li {
  color: #004db3 !important;
}

tr {
  color: #653d3d !important;
}

cite {
  color: #268 !important;
}

input {
  color: #257 !important;
}

em {
  color: #DEF !important;
}

ul {
  color: #650000 !important;
}

nobr {
  color: #4a0505 !important;
}

strong {
  color: #9CC !important;
}

b {
  color: #7AF !important;
}

/* a:visited, a:visited * {
  color: #607069 !important;
} */

a.highlight, a.highlight *, a.active, a.active *, .selected, .selected *, [href="#"] {
  color: #DDD !important;
  font-weight: bold !important
}

textarea, td {
  color: #ACE !important;
  /* text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000 !important; */
}

::-moz-selection {
  background-color: #282828 !important;
  color: #fefefe !important;
}

 ::-webkit-selection {
  color: #282828 !important;
  background-color: #fefefe !important;
}

abbr, progress, time, label, .date {
  color: #CDEFC2 !important;
}

mark, code, pre, blockquote, [class*="quote"], td[style*="inset"][class="alt2"] {
  background-color: #00090F !important;
}

[onclick]:hover, [ondblclick]:hover, [onmousedown]:hover {
  color: #FEFF97 !important
}
