
/*--------------- Body of Ticket Box ---------------*/
div.panel-body, div.ticket-comment {
  background-image: none !important;
  background-color: #383838 !important;
  text: #3B3B3B;
}

div.list-view {
  background-image: none !important;
  background-color: #303030 !important;
}

h3.panel-tile, i {
  color: white;
}

p, h4, span.help-block {
  color: #ACE !important;
}
/*--------------- Tag Pills ---------------*/

span.pill.pill-warning {
  background-color: #f9423a;
}\
/*--------------- Ticket Comments ---------------*/
div.ticket-comment {
  background-image: none !important;
  background-color: #303030 !important;
  border-radius: 4px;
}

div.ticket-comment:nth-child(even) {
  background-image: none !important;
  background-color: #383838 !important;
  border-radius: 4px;
}

span {
  color: white;
}
/*--------------- Input Boxes ---------------*/
div.tags.form-control {
  background-color: #6B6B6B
}
pre code {
  color: white
}
