/* --------------- Name Boxes --------------- */

.table-striped tbody>tr:nth-child(2n+1)>td.sort {
  background-color: rgb(48, 48, 48) !important;
}

.table td.sort {
  background-color: inherit;
  }


/* --------------- User Profile ---------------*/

div.tabBodyWrapper {
  background-color: #455A6B !important;
}

dl {
  background: none !important;
  background-color: #383838 !important;
}

span.textHelp {
  color: #ACE !important;
}

/*--------------- Role --------------- */

dd {
  color: white !important;
}

/*--------------- The stupid fucking tabs that are annoyingly white... ---------------*/
/* .old-style ul.tabs li.active {
    background: transparent url(/Nightro/icons/pinksquare.png) no-repeat 100%  !important;
    background-color: pink !important;
    border-bottom: solid 1px #fff;
} */

/*--------------- Tabs and Profile Box ---------------*/

div.infoSheet ul.tabs li a {
  background-image: none !important;
  background-color: #002340 !important;
}
div.contentContainer div.infoSheet ul.tabs li {
  padding: 0 !important;
}

div.tabBodyWrapper {
    background-color: none !important;
    padding: 10px 0 10px 10px;
    border-top: none !important;
}

input[type="button"], input[type="submit"]:not(.color):hover, input[type="reset"]:hover, button:hover, select {
    color: #ACE !important;
    background-color: #6b6b6b !important;
}


/*--------------- Input fields ---------------*/

div.plainForm dd input[type="text"], input[type="password"] {
  border: none !important;
}

/*--------------- Compliance Tab ---------------*/
.tabBodyWrapper .listTable thead th {
  color: white !important;
}

.tabBodyWrapper .listTable td {
  background-color: #383838;
  border-top: solid 1px #455a6b !important;
}
