/* --------------- Name Boxes --------------- */

.table-striped tbody>tr:nth-child(2n+1)>td.sort {
  background-color: rgb(48, 48, 48) !important;
}

.table td.sort {
  background-color: inherit;
  }


/* --------------- User Profile ---------------*/

div.tabBodyWrapper {
  background-color: #455A6B !important;
}

dl {
  background: none !important;
  background-color: #383838 !important;
}

span.textHelp {
  color: #ACE !important;
}

/*--------------- Role --------------- */

dd {
  color: white !important;
}

/*--------------- The stupid fucking tabs that are annoyingly white... ---------------*/
/* .old-style ul.tabs li.active {
    background: transparent url(/Nightro/icons/pinksquare.png) no-repeat 100%  !important;
    background-color: pink !important;
    border-bottom: solid 1px #fff;
} */

/*--------------- Working code for those stupid fucking tabs ---------------*/

div.infoSheet ul.tabs li a {
  background-image: none !important;
  background-color: #002340 !important;
  color: white;
}
