<!doctype html>
<html>

<head>
  <title>Dark Mode Always Extension </title>
  <link href="/css/options-page.css" rel="stylesheet" type="text/css">
  <link href="/css/noty.css" rel="stylesheet" type="text/css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/noty.min.js"></script>
  <script src="/js/options-page.js"></script>
</head>

<body>
  <div id='dnmo-main-content'>

    <div id='dnmo-top-part'>
      Nightro
    </div>

    

    <div id='dnmo-save-whitelist-list' class='dnmo-save-button'>
      Save
    </div>

  </div>
</body>

</html>
