<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Nightro </title>
    <script src="/js/popup.js"></script>
</head>

<body>
    <div id='dma-logo-cont'></div>
    <div id="container">

        <form id='google-chrome-options'>
            <span>Toggle for current Domain</span>
            <span id="nightro-toggle-status"></span>. Toggle it?</span>
            <input type="button" value="Toggle" id="toggle-button">

            <div id="input-url">
                <label id="name">URL: </label>
                <input id="text-field" type="text" value="" />
                <br />
                <br />
                <button id="submit" type="button">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>