<!doctype html>
<html>
  <head>
    <title>Dark Mode Always Extension </title>
    <script src="/js/cache-storage.js"></script>
  </head>

  <body>
    <div id='dma-logo-cont'></div>
    <div id="container">

        <form id='google-chrome-options'>
            <fieldset class="dma-darknightmode-block">
                <label class='dnm-chrome-action-label dark1'>Nightrooo</label>
                <div class="switch-toggle switch-3 switch-candy dnm-chrome-action-div">
                    <input id="off" name="mode_status" type="radio" value='on' class='mode-status-radio'>
                    <label for="off" >On</label>
                    <input id="on" name="mode_status" type="radio" checked="" value='off' class='mode-status-radio'>
                    <label for="on" >Off</label>
                    <a></a>
                </div>
            </fieldset>

            <div id="input-url">
                <label id="name">URL: </label><input id="text-field" type="text" value=""/><br /><br />
                <button id="submit" type="button">Submit</button>
            </div>
        </form>
    </div>
  </body>
</html>
